[flake8]
ignore = E501, F401, E302, E305, E131, E402, E722, E272, W292, F541, F811, E221, E241, W293, W391, E231
max-line-length = 100
exclude =
    venv/,
    .git/,
    discord_messages.json,
    discord-messages-extract.json,
    discord_messages_v2.json,
    discord_messages.db
